body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #ffdbe5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  text-align: center;
}

.cute-img {
  width: 160px;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #ff5c8a;
  color: white;
}

.loader {
  display: none;
  position: fixed;
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;

  font-size: 40px;
}

